.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  width: 80%;
  margin: 0 auto;
  height: 90vh;
}

.main-content {
  justify-self: start;
  margin-left: 20px;
  color: #1D2228;
  width: 80%;
}

.main-content h1 {
  font-size: 2rem;
  text-align: center;
}

.main-content p {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.main-btn {
  font-size: 1rem;
  background-color: var(--lightyellow);
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  color: var(--white);
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all .35s;
  outline: none;
}

.main-btn a {
  position: relative;
  z-index: 2;
  color: var(--white);
  text-decoration: none;
}

.main-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all .35s;
  border-radius: 4px;
  background: var(--lightblue);
}

.main-btn:hover {
  color: var(--white);
}

.main-btn:hover::after {
  width: 100%;
}

#main-img-container {
  text-align: center;
  object-fit: cover;
  object-position: 50% 0;
  max-width: 50%;
  height: auto;
  width: 330px;
}

#main-img {
  margin: 15px;
  text-align: center;
  object-fit: cover;
  object-position: 100% 0;
  max-width: 100%;
  height: 80%;
  width: 22%;
}

/* This is where the order css begins */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    overflow-x: hidden;
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
/* This is where the order page css end /*
/* mobile responsive */
@media screen and (max-width: 768px) {
  .main-container {
      text-align: center;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 80%;
      margin: 0 auto;
      height: 100vh;
  }

  .main-content {
      justify-content: center;
      color: var(--white);
      width: auto;
      margin: 0;
  }

  .main-content h1 {
      font-size: 2.5rem;
      color: black;
  }

  .main-content p {
      margin-top: 1rem;
      font-size: 1.5rem;
      color: black;
  }

  #main-img {
      justify-content:space-between
  }
}

@media screen and (max-width: 480px) {
  .main-content {
      text-align: center;
  }

  .main-content h1 {
      font-size: 2.8rem;
  }

  .main-content p {
      margin-top: 2rem;
      font-size: 1.5rem;
  }

  .main-btn {
      padding: 12px 36px;
      margin-top: 2.5rem;
  }
}

